@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import 'bootstrap/scss/bootstrap.scss';
@import 'datatables.net-bs4';
@import "sb-admin/styles.scss";



#prescription-content > div,
#delivery-content > div{
    label * {
        margin-left: 10px
     }

     *:not(:first-child) {
        margin-left: 10px
     }

     i.fas{
        cursor: pointer;
     }

     i {
        font-size: 2em;
     }

     .fa-plus-circle {
        color: #27B312;
     }

     .fa-minus-circle {
        color: #ff0000;
     }
}
