/* main colors:
#F9A61E yallow
#1F8BCC blue
#006CAD dark blue
#3d3d3d
#303030
 */


 .edit-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
/* Modal Content */
.edit-modal .modal-content {
    justify-self: center;
    background-color: rgba(0,0,0,0);
    /* width: 80%; */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    /* border-radius: 5px; */

}

/* Modal Content */
.edit-modal .modal-content {
    justify-self: center;
    align-self: center;
    /* position: fixed; */
    /* bottom: 0; */
    background-color: rgba(0,0,0,0);
    /* width: 80%; */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 15px;
}


.edit-modal .modal-content fieldset{
    display: grid;
    padding: 5px 0px;
    grid-row-gap: 10px;
}

/* The Close Button */
.edit-modal .close {
    color: white;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}

.edit-modal .close:hover,
.edit-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.edit-modal .modal-header {
    padding: 20px 16px;
    background-color: #F9A61E;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.edit-modal .modal-body {
    color: Black;
    background-color: #FEFEFE;
    padding: 20px 16px;
}

.edit-modal .modal-body .edit-form{
    display: grid;
    grid-row-gap: 10px;
}

.edit-modal .modal-body .form-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0px;
}
.edit-modal .modal-body .divider{
    height: 1px;
}

#edit-medicine-modal .modal-body .form-element{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}


.edit-modal .modal-footer {
    padding: 20px 16px;
    background-color: #1F8BCC;
    color: white;
    border-radius: 0px 0px 10px 10px;

}

.edit-modal .edit{
    display: grid;
}

.edit-modal .modal-footer .edit{
    grid-auto-flow: column;
    justify-content: start;
    grid-column-gap: 10px;
}

.edit-modal .loading{
    display: none;
    justify-content: center;
    /* font-size: 2em; */
    color: #1F8BCC;
}

.edit-modal .loading p{
    font-size: 1.3em;
    font-weight: bold;
}

.edit-modal .loading i{
    justify-self: center;
    font-size: 5em;
}

.edit-modal .done{
    display: none;
    justify-content: center;
    color: #0c0;
}

.edit-modal .done i{
    justify-self: center;
    font-size: 5em;
}
.edit-modal .done p{
    font-size: 2em;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes slideIn {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
