/* main colors:
#F9A61E yallow
#1F8BCC blue
#006CAD dark blue
#3d3d3d
#303030
 */

* {
    margin: 0px;
    padding: 0px;
}



.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 5px;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}


body{
    background-color: #303030;
}

a, a:hover, a:active, a:focus
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    outline : none;
}
a:active
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
}

.body-container{
    width: 100%;
    display: grid;
    color: #fff;
    grid-template-columns:1fr 5fr;
    grid-template-areas:
    "header header"
    "main  main"
    "footer footer";
}

.body-header{
    grid-area: header;
    background-color: #F9A61E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo other";
}

.header-other{
    grid-area: other;
}


.header-logo{
    grid-area: logo;
    padding: 5px;
    color: white;
    display: grid;
    align-items: end;
    /* background-color: #F9A61E; */
}



.body-main{
    /* width: 100%; */
    grid-area: main;
    display: grid;
    align-content: center;
    justify-content: space-around;
    color: #000;
    padding: 100px 10px;
    background-color: #f9f9f9;
}


.divider{
    background-color: #000000;
    height: 3px;
    margin-top: 0px;
    margin-bottom: 20px;
}


.body-footer{
    grid-area: footer;
    background-color: #3d3d3d;
    text-align: center;
    padding: 20px;
}

.form{
    display: grid;
    padding: 10px;
}



.form-title{
    text-align: center;
}

.form-fieldset{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "label input";
    align-items: center;
    border-style: none;
}

.form-label{
    grid-area: label;
    text-align: center;
    font-size: 1.2em;
    margin: 5px;
}

.form-input{
    grid-area: input;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    padding: 5px;
    color: #fff;
    background-color: rgba(0,0,0, 0.0);
}


.form-submit{
    text-align: center;
}

.form-input-submit{
    padding: 10px 30px;
    background-color: #F9A61E;
    border-style: none;
    font-size: 1.2em;
    color: #fff;
}

.form-nav{
    /* width: auto; */
    margin: 10px 50px;
    padding: 10px 30px;
    background-color: #F9A61E;
    border-style: none;
    font-size: 1.2em;
    color: #fff;

}

.form-nav-container{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.form-container{
    display: grid;
    /* grid-auto-flow: column; */
    color: #fff;
    background-color: #006CAD;
    border-radius: 10px;
}

.login-form{
}

.hide{
    display: none;
}

.btn{
    cursor: pointer;
}

.input-error{
    border-color: #f00;
    border-width: 2px;
}
