/* main colors:
#F9A61E yallow
#1F8BCC blue
#006CAD dark blue
#3d3d3d
#303030
 */


.modal-delete {
    /* Hidden by default */
    display: none;
    /* display: grid; */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-delete .modal-header {
    display: grid;
    justify-content: center;
    padding: 20px 16px;
    background-color: #F9A61E;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

/* Modal Content */
.modal-delete .modal-content {
    justify-self: center;
    align-self: center;
    /* position: fixed; */
    /* margin: auto; */
    background-color: rgba(0,0,0,0);
    /* padding: 20px; */
    /* width: 80%; */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.modal-delete .modal-header .modal-title {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    justify-content: start;
    align-items: center;
}
.modal-delete .modal-header .close {
    justify-content: end;
}

.modal-delete .modal-body {
    color: Black;
    padding: 20px 30px;
    background-color: #FEFEFE;
}

.modal-delete .modal-body > *{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 20px;
    justify-items: center;
}

.modal-delete .modal-body > * i{
    font-size: 5em;
    /* color: #f00; */
}
.modal-delete .modal-body > * p{
    font-size: 1.3em;
    font-weight: bold;
    /* color: #f00; */
}
.modal-delete .modal-body .notice{
    display: grid;
    color: #F00;
}

.modal-delete .modal-body .loading{
    display: none;

    color: #1F8BCC;
}

.modal-delete .modal-body .done{
    display: none;

    color: #0c0;
}
.modal-delete .modal-body .done p{
    font-size: 2em;
}

.modal-delete .fa-circle-notch{
    animation: spin 1s linear infinite;
}


.modal-delete .modal-footer {
    display: grid;
    padding: 20px 30px;
    background-color: #1F8BCC;
    border-radius: 0px 0px 10px 10px;
    color: white;
    /* justify-content: center; */
}

.modal-delete .modal-footer .notice{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}
.modal-delete .modal-footer .done{
    display: none;
    justify-items: center;
}
