/* main colors:
#F9A61E yallow
#1F8BCC blue
#006CAD dark blue
#3d3d3d
#303030
 */

* {
    margin: 0px;
    padding: 0px;
}

.input-success{
    border-color: #0F0;
    border-width: 2px;
}

.input-error{
    border-color: #f00;
    border-width: 2px;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 5px;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
  border-color: #059;
}
.success-msg {
  color: #270;
  background-color: GREEN;
  border-color: #270;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
  border-color: #9F6000;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  border-color: D8000C;
}

.fa-spinner{
    justify-self: start;
    animation: spin 1s linear infinite;
}

.fa-circle-notch{
    /* justify-self: start; */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


body{
    background-color: #303030;
}

a, a:hover, a:active, a:focus
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    outline : none;
}
a:active
{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
}

.body-container{
    width: 100%;
    display: grid;
    color: #fff;
    grid-template-columns:1fr 5fr;
    grid-template-areas:
    "header header"
    "aside  main"
    "footer footer";
}

.body-header{
    grid-area: header;
    background-color: #F9A61E;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas:
    "logo other";
}

.header-other{
    grid-area: other;
}


.header-logo{
    grid-area: logo;
    padding: 5px;
    color: white;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: end;
    /* background-color: #F9A61E; */
}

.body-aside{
    /* width: 100%; */
    grid-area: aside;
    border: 0px;
    display: grid;
    align-content: start;
    grid-row-gap: 10px;
    background-color: #006CAD;
    padding: 20px 5px;
}

td.details-control {
    background: url('resource/open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('resource/close.png') no-repeat center center;
}

.body-aside .divider{
    background-color: #FFFFFF;
}

.profile-image{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.menu-link-container{
    display: grid;
    align-content: start;
}

.body-main{
    /* width: 100%; */
    grid-area: main;
    display: grid;
    align-content: start;
    color: #000;
    padding: 10px;
    grid-row-gap: 10px;
    text-align: center;
    background-color: #f9f9f9;
}


.divider{
    background-color: #000000;
    height: 3px;
    /* margin-top: 0px; */
    /* margin-bottom: 20px; */
}


.body-footer{
    grid-area: footer;
    background-color: #3d3d3d;
    text-align: center;
    padding: 20px;
}

.menu-link{
    background-color: #006CAD;
    padding: 5px;
    font-weight: bold;
    color: #fff;
}

.menu-link:hover{
    color: #F9A61E;
    background-color: #1F8BCC;
}

.add-form{
    /* width: 50%; */
    display: grid;
    grid-row-gap: 10px;
    /* align-items: center; */
}

.form-element{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-self: baseline;
}

.form-element *{
    align-self: center;
    margin: 0px 2px;
}

#add-perscription-form .textarea *{
    align-self: start;
}

input, select{
    border-style: solid;
    background-color: #fff;
    border-color: #555;
    border-width: 1px;
    border-radius: 0%;
    padding: 2px 4px;
}

.red-btn{
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #c00;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}

.close-btn{
    justify-self:start;
    font-size: 1.3em;
    color: #FF0000;

}

.cancle-btn{
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #F9A61E;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}


.submit-btn{
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #1F8BCC;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}


fieldset{
    display: inline-block;
}

.btn:hover{
    cursor: pointer;
}

.green-btn{
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #0c0;
    border-style: none;
    color: #fff;
    border-radius: 0%;
}

.add-medicine-btn{
    /* width: 25%; */
    margin: 5px;
    font-size: 1.3em;
    padding: 5px 20px;
    background-color: #0c0;
    border-style: none;
    color: #fff;
    justify-self: start;
    /* border-radius: 0%; */
}

.form-send{
    display: grid;
    grid-auto-flow: column;
}

.form-send-row{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-send-row label{
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    background-color: #aaa;
}

.form-recieve-row{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-recieve-row label{
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    background-color: #aaa;
}

.note{
    text-align: left;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    margin: 5px;
}

#myTable p{
    display: inline;
    padding: 0px 5px;
    color: #00f;
    text-decoration: underline;
    cursor: pointer;
}

.profile-main-container{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    grid-row-gap: 10px;
}
.profile-main-container .profile-image{
    grid-column: 1/6;
    width: 150px;
    height: 150px;
    justify-self:start;
}
.profile-main-container .change-password{
    grid-column: 3/4;
}
.edit-profile{
    display: grid;
    grid-row-gap: 10px;
}


.edit-profile-form{
    display: grid;
    grid-row-gap: 10px;
}
.edit-profile-form .form-element{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.edit-profile-form .form-element label{
    justify-self: start;
}

.edit-profile-form .form-element select{
    justify-self: start;
}

.change-password-form{
    display: grid;
    grid-row-gap: 10px;
}

.change-password-form .form-element{
    display: grid;
    grid-auto-flow: row;
}
